body {
    /*font-size: 14px;*/
}

canvas {
    width: 200px;
    height: 150px;
    border: 2px solid #eee;
    margin: 10px;
}

canvas#result {
    border: 2px solid #fee;
    cursor: default;
}

canvas, .operation, #add-canvas, #delete-canvas {
    cursor: pointer;
}

#workspace canvas {
    float: left;
}

.operation {
    display: block;
    /*position: absolute;*/
    font-size: 0.7em;
    width: 100px;
    float: left;
    margin: 35px 10px;
    text-align: center;
}

#add-canvas i, #delete-canvas i, .operation i {
    display: block;
    position: relative;
    top: 20px;
    font-size: 7em;
    margin: 5px;
}

i span {
    display: none;
}

#equals, #result {
    float: left;
    cursor: default;
}

#formula, #canvas-manage, #copyright {
    font-family: sans-serif;
}

#canvas-manage {
    clear: both;
}

#workspace {
    width: auto;
}

#formula {
    display: block;
    border-top: 3px dashed #ccc;
    /*height: 200px;*/
}

#canvas-manage {
    border-top: 3px dashed #ccc;
    font-size: 10px;
    color: #336;
    width: 100%;
    text-align: center;
}

#canvas-manage div {
    display: inline-block;
    margin: 10px;
}

#canvas-manage div i {
    margin: 10px;
}

#copyright {
    font-size: .6em;
    background-color: #eee;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
}

#equals {
    color: #666;
}